@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Arsenal&family=Karla:wght@300&display=swap');

:root {
  --light: #dad29b;
  --primary-color: #e3f2f7;
  --secundary-color: #505458;
  --dark: #0c0c10;

  --title: 'Amiko', sans-serif;
  --sub-title: 'Arsenal', sans-serif;
  --text: 'Karla', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--title);
}

h2, h3, h4, h5 {
  font-family: var(--sub-title);
}

p {
  font-family: var(--text);
}
