body {
  border: 0;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.itemDiv {
  display: flex;
  flex-wrap: wrap;
}

.item {
  border: 1px solid black;
  width: 200px;
}

.cartItemDiv {
  display: flex;
  flex-wrap: wrap;
}

.cartItemDiv div {
  margin-left: 25px;
}
